Flask==2.2.5
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.0
python-dotenv==1.0.1
requests
Flask-Migrate
cryptography
langchain
langchain_ollama
todoist-api-python
Flask-Cors>=3.1.1
googlemaps
ortools
flask-cors

# Flask-Dance==5.0.0