Flask==2.2.5
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.0
python-dotenv==1.0.1
requests
Flask-Migrate
cryptography
langchain
langchain_ollama
todoist-api-python
# Google Maps API
googlemaps==4.10.0
# OR-Tools for routing optimization
ortools==9.6.2534
Flask-Cors>=3.1.1
ortools

google-generativeai>=0.5.0

# For data handling
numpy==1.24.3
pandas==2.0.3
# Flask-Dance==5.0.0
