<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome to CalRoute</title>
    <link rel="stylesheet" href= "static/css/styles.css" />
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="static/images/logo.jpeg" alt="CalRoute Logo" class="logo"/>
        </div>
        <div class="right">
            <h2>Welcome to CalRoute</h2>
            <p>Login with your Google account to get started.</p>
            <a href="/login/google"><button class="login-btn google-btn">Login with Google</button></a>
        </div>
    </div>
</body>
</html>
